<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
</head>

<body>
    <h1>Welcome to Movie App</h1>

    <ul>
        {% for category in categories %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>

    <div id="movies">
        {% for movie in movies%}
        <div>
            <p>{{ movie.movie_name }}</p>
            <p>{{ movie.description }}</p>
            <img src="{{ movie.image}}" alt="#">
        </div>
        {% endfor %}
    </div>
</body>

</html>